# Virtual Environments
dash_env/
venv/
.venv/
env/
ENV/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook Checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# IDE & Editor Configs
.vscode/
.idea/
*.swp
*.swo
